*{ box-sizing: border-box;
margin:0;
padding:0;}

body{
  margin:0 auto;
  text-align:center;
  box-sizing: border-box;
  font-family: 'Joan', serif,'Lato', sans-serif,'Nuosu SIL', serif;}
:root {
  background-color:		#FFF8E7;}

form,p {
  
color:#8e9397;
font-size: 20px;}

.newsletter_label,p {
  display:block;
  margin:10px 10px;}

header,h1 {
  font-family: 'Lato', sans-serif; 
  background-color:#3f2f22;
  color:white;
  margin:0;
  padding:20px 20px;
  display: block;
  font-size: 20px;
  text-align: center; 
  text-transform:uppercase;} 
#line-1 {
  display: flex;
  height: 6px;
  background-color: black;
  margin: 15px 17px 5px;}
    

.line-2 {
  display: flex;
  height: 3px;
  background-color: black;
  margin: 0px 17px 0px;
}
.signup {
  text-align:center;
  margin-top:10px;}

        
h2,legend {
  color:#383e44;
  font-size:30px;}

legend {
  text-align:left; 
  font-size: 25px;
  padding:5px;
  margin: 10px 15px;} 

 #news{
  margin-left:0;
 }
ul, fieldset {
  list-style: none;
  text-align:left;
  padding:10px 5px; }

fieldset {
  border:none;}

.section1 {
  display:flex;
  flex-direction: column;}

  
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea, #state{
  margin: 10px 10px;
  text-align: left;
  background:#f6fbfc;
  height:50px;
  border-radius:0.5em ;
  border-color: #dce1e5;
  width: 95%;
  font-size: 20px;
  color:#8e9397;}

.sectiontwo {
  text-align:left;
  margin: 10px 5px;
  padding:10px 15px;}

label { 
  margin:10px;}
       
.light {
    display: inline-block;
     margin:10px 10px;} 
.label_header{
  margin: 10px 10px;
}

input[type="number"]{
  width:47%;
  display:block;
  text-align: left;
  margin-left: 15px; }

 ::placeholder {
  font-size:15px;
  color:#8e9397;
  text-align: end;  }

  textarea::placeholder {
  text-align:left;
  font-size: 1em;  
  }

input [type="checkbox"],
input [type="radio"] {
  display:inline;
  text-align:left;}

#msg {
  width: 98%; 
  height: 90px;
  margin:10px 0;}

 

button[type="submit"]{
  width: 98%; 
  height: 50px;
  margin:10px 0;
  background-color:#17bca1;
  color:white;
  font-size:x-large;
  border-radius:.5em;}

button[type="submit"]:focus, select:focus,
textarea:focus  {
  background-color: blue;
  transition: background-color 0.5s ease-in-out;}

    
 @media screen and (min-width: 768px) {
header {
  width:100%;
  margin:0 auto;}

.section1,.sectiontwo {
  width:90%;}

 .section1  li {
  display:flex;
  flex-direction:row;
  justify-content: space-between; }
 
   label {
  margin-top:20px;
  margin-left:100px;}
 .label_header, .light {
  margin-left:10px;
  }

  .label_header
  {margin:5px;}

input[type="text"],
input[type="email"],
input[type="tel"],#state {
  width:60%;
  margin:10px 10px;}

input[type="number"]{
  width:15%;
  margin-right:310px;  }

.sectiontwo {
  display:block;
  text-align: left;
  margin-left:100px;}
   
#line-1, .line-2 {
  width:75%;
   margin:5px auto;}

legend {
  margin-left:100px;}

button[type="submit"],#msg {
   width: 85%;}
  
  }

  
